<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="http://23.105.212.233/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://23.105.212.233/contact.html">Service</a>
</li>

 <li class="nav-item has-menu-child"><a href="#">Service</a>
                <ul class="nav-link">
                  <li><a href="http://23.105.212.233/fullfilment.html">Fullfilment</a></li>
                  <li><a href="http://23.105.212.233/fast-delivery.html">Fast Delivery</a></li>
                  <li><a href="http://23.105.212.233/branding.html">Branding</a></li>
  </ul>
  </li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Blog</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://23.105.212.233/faq.html">FAQ</a>
</li>
<li class="nav-item">
<a class="nav-link" href="http://23.105.212.233/about-us.html">About</a>
</li>
