<!--  Replace menu links here -->
<li class="nav-item">
<a class="nav-link" href="https://nichepik.com/en/index">Home</a>
</li>
 <li class="nav-item has-menu-child"><a class="nav-link" href="#">Service</a>
                <div class="sub-item">
                 <a class="nav-link" href="https://nichepik.com/en/packing-and-shipping">Pack & Ship</a>
                <a class="nav-link" href="https://nichepik.com/en/dropship-from-china">Fast Delivery</a>
                 <a class="nav-link" href="https://nichepik.com/en/china-sourcing-agent">Sourcing & Branding</a>
  </div>
  </li>

<li class="nav-item">
<a class="nav-link" href="https://blog.nichepik.com/index">Blog</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://nichepik.com/en/dropship-101">FAQ</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://nichepik.com/en/about-us">About</a>
</li>
<li class="nav-item">
<a class="nav-link"href="https://nichepik.com/en/contact">Contact</a>
</li>
